<%- include('partials/header'); -%>

    <form>
        <h2>Add Meal</h2>
        <label for="meal">Select Meal</label>
        <select name="mealname" id="mealname" required>
            <option value="">Select a meal</option>
            <option value="Afang(Ibibio)">Afang Soup</option>
            <option value="Atama(Ibibio)">Atama Soup</option>
            <option value="Beans porridge(English)">Beans Porridge</option>
            <option value="Yam , fried">Fried Yam</option>
            <option value="Amala dudu(Yoruba)">Amala</option>
            <option value="Garri(Yoruba)">Dry Garri</option>
            <option value="Dodo (Yoruba)">Ripe Fried Plantain</option>
            <option value="Fufu">Fufu</option>
            <option value="Usong Udia(Ibibio)">Pounded Yam</option>
            <option value="Tuwo Shinkafa(Hausa)">White Rice</option>
            <option value="Akara elepo(Yoruba)">Bean Cake</option>
            <option value="Abakpa(Ibibio)">Roasted Corn</option>

            <!-- Add more options based on available meals -->
        </select>
        <div class="mealname error"></div>


        <label for="mealtype">Meal Type</label>
        <select name="mealtype" id="mealtype" required>
            <option value="">Select a meal type</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <!-- Add more options based on available meal types -->
        </select>
        <div class="mealtype error"></div>


        <label for="portionConsumed">Portion Consumed</label>
        <select name="portionConsumed" id="portion" required>
            <option value="">Select a portion</option>
            <option value="1 Plate">1 plate</option>
            <option value="2 Plates">2 plates</option>
            <option value="3 Plates">3 plates</option>
        </select>
        <div class="portion error"></div>

        <button>Log Meal</button>
    </form>

    <%- include('partials/footer'); -%>

        <script>

            const form = document.querySelector('form');
            const mealNameError = document.querySelector('.mealname.error');
            const mealTypeError = document.querySelector('.mealtype.error');
            const portionError = document.querySelector('.portion.error');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                // Reset errors.
                mealNameError.textContent = '';
                mealTypeError.textContent = '';
                portionError.textContent = '';

                // Get the values from the inputs.
                const mealName = form.mealname.value;
                const mealType = form.mealtype.value;
                const portionConsumed = form.portion.value;

                try {
                    const res = await fetch('/addMeal', {
                        method: 'POST',
                        body: JSON.stringify({ mealName, mealType, portionConsumed }),
                        headers: { 'Content-Type': 'application/json' }
                    });
                    const data = await res.json();
                    console.log('Meal Data Comes Here:')
                    console.log(data);
                    if (data.errors) {
                        mealNameError.textContent = data.errors.mealname;
                        mealTypeError.textContent = data.errors.mealtype;
                        portionError.textContent = data.errors.portion;
                    }
                    if (data.meal) {
                        location.assign('/logMeal');
                    }
                }
                catch (err) {
                    console.log(err);
                }
            });
        </script>