<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/nutricompanion.jpg" alt="">
        </div>
        <div class="headings">
            <h2>NutriCompanion</h2>
            <h3>Your Nutrient-Tracking Companion</h3>
            <a href="/logMeal" class="btn">Log Meals</a>
        </div>
    </header>


    <%- include('partials/footer'); -%>